.element__like {
    opacity: 1;
    border: 0px;
    background-color: #ffffff00;
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/svg/heart.svg);
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:active {
    opacity: 1;
    background-image: url(../../../images/svg/heart_active.svg);
}