.page {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
