.profile__about {
  margin: initial;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  grid-area: about;
}

@media only screen and (max-width: 880px) {
  .profile__about {
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
  }
}