.profile {
  padding-top: 40px;
  min-width: 880px;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "avatar info none button";
}

@media only screen and (max-width: 880px) {
  .profile {
    max-width: 282px;
    min-width: 320px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "avatar"
      "info"
      "button";
    justify-content: center;
    align-content: center;
  }
}