.pop-up__save-button {
  margin: 48px 0px 0px 0px;
  width: 358px;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 880px) {
  .pop-up__save-button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.pop-up__save-button:hover {
  background-color: #000000cc;
  cursor: pointer;
}