.header {
  padding-top: 45px;
  width: 880px;
  min-height: 74px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 880px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }
}
