.pop-up__close-button {
  border: 0;
  background-color: #ffffff00;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 1;
  top: -50px;
  left: 235px;
  background-size: contain;
  background-image: url(../../../images/svg/Close_Icon.svg);
}

@media only screen and (max-width: 880px) {
  .pop-up__close-button {
    width: 35px;
    height: 35px;
    left: 125px;
  }
}

.pop-up__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}