.pop-up__close-button {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 3;
    top: -50px;
    left: 235px;
}

@media only screen and (max-width: 880px) {
    .pop-up__close-button {
        width: 26px;
        height: 26px;
        top: -35px;
        left: 130px;
    }
}

.pop-up__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}