.profile__name {
    height: 40px;
    margin: initial;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    grid-area: name;
  }
  
  @media only screen and (max-width: 880px) {
    .profile__name {
      height: 26px;
      font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
    }
  }
  