.profile__name {
  margin: initial;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 880px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}