@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info/_name/profile__info_name.css);
@import url(../blocks/profile/__info/_edit-button/profile__info_edit-button.css);
@import url(../blocks/profile/__info/_about/profile__info_about.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/_opened/pop-up_opened.css);
@import url(../blocks/pop-up/__container/pop-up__container.css);
@import url(../blocks/pop-up/__close-button/pop-up__close-button.css);
@import url(../blocks/pop-up/__title/pop-up__title.css);
@import url(../blocks/pop-up/__input/pop-up__input.css);
@import url(../blocks/pop-up/__save-button/pop-up__save-button.css);
@import url(../blocks/pop-up/__save-button-text/pop-up__save-button-text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);