.profile__info {
  padding-left: 30px;
  grid-area: info;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 39px 8px;
  grid-template-areas:
    "name button"
    "about about";
  gap: 10px 23px;
  place-items: start start;
}

@media only screen and (max-width: 880px) {
  .profile__info {
    grid-template-rows: 26px 14px;
    padding-top: 32px;
    padding-left: 26px;
    padding-right: 0px;
    padding-bottom: 38px;
    justify-self: center;
    align-self: center;
    gap: 6px 10px;
  }
}