.pop-up__container {
  width: 430px;
  min-height: 330px;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 26px auto auto;
  justify-items: center;
}

@media only screen and (max-width: 880px) {
  .pop-up__container {
    width: 282px;
    min-height: 322px;
  }
}