.pop-up__container {
    min-width: 430px;
    min-height: 330px;
    border-radius: 10px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 880px) {
    .pop-up__container {
        min-width: 282px;
        min-height: 330px;
        border-radius: 10px;
        background-color: #fff;
    }
}