.pop-up__input {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 358px;
  height: 27px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #00000020;
  margin: 30px 0px 0px 0px;
}

@media only screen and (max-width: 880px) {
  .pop-up__input {
    width: 238px;
    margin: 32px 0px 0px 0px;
  }
}